<div id='project'>

  <md-dialog ref='dialog1' @open='onOpen' @close='onClose'>
    <md-card>
      <md-card-media style='overflow: hidden'>
        <md-image :md-src='getDetailImageSrc(detailed.image)' :alt='detailed.image'></md-image>
      </md-card-media>

      <md-card-header>
        <div class='md-title'>{{ detailed.title }}</div>
        <div class='md-subhead' v-html='detailed.caption'></div>
      </md-card-header>

      <md-card-actions>
        <md-button v-if='idx > 0' class='md-icon-button' @click.native='prevDetail()'><md-icon>navigate_before</md-icon></md-button>
        <span style='flex: 1'></span>
        <md-button v-if='project && idx < project.details.length - 1' class='md-icon-button' @click.native='nextDetail()'><md-icon>navigate_next</md-icon></md-button>
      </md-card-actions>
    </md-card>
  </md-dialog>

  <md-card v-if='project'>
    <md-card-header>
      <md-avatar class='md-large' style='border-radius: 0'>
        <md-image :md-src='getImageSrc(project.name)' />
      </md-avatar>
      <div class='md-title'>{{ project.name }}</div>
      <div class='md-subhead'>{{ project.caption }}</div>
      <router-link to='/' class='md-subhead'>&lt;- go back home</router-link>
    </md-card-header>
    <md-card-content>
      <p>{{ project.description }}</p>
      <p v-if='project.link'>You can find it <a :href='project.link'>here</a>.</p>

      <md-layout md-gutter id='projects-layout' md-align='center' v-if='project.details.length > 0'>
        <md-button v-for='(detail, index) of project.details' :key='detail.name' @click.native='openDialog("dialog1", index)' :title='detail.title'>
          <md-image :md-src='getDetailImageSrc(detail.image)' :alt='detail.image'></md-image>
        </md-button>
      </md-layout>
    </md-card-content>
  </md-card>

  <md-card v-else>
    <md-card-header>
      <div class='md-title'>No project found with that name</div>
    </md-card-header>
    <md-card-content>
      <p>Sorry :(</p>
    </md-card-content>
  </md-card>
</div>
