<div id='home'>
  <md-card id='intro'>
    <md-card-header>
      <div class='md-title'>Hello there!</div>
    </md-card-header>
    <md-card-content>
      <p>
        I'm Michael Fedora, a self-taught coder, artist, and inventor. Welcome to my home!
      </p>
      <p>
        I work with a fairly wide range of technologies, including
        <a href='https://angular.io/' class='angular'>Angular</a>,
        <a href='https://vuejs.org/' class='vue'>Vue</a>,
        <a href='https://ionic.io/' class='ionic'>Ionic</a>,
        <a href='https://cordova.apache.org/' class='cordova'>Cordova</a>,
        <a href='https://nodejs.org' class='nodejs'>Node.js</a>,
        <a href='https://expressjs.com/' class='express'>Express</a>
        and <a href='https://rethinkdb.com' class='rethinkdb'>RethinkDB</a>.
        My favorite versioning system is <a href='https://git-scm.com/' class='git'>Git</a>,
        and my favorite environment is Win10 with
        <a href='https://code.visualstudio.com' class='code'>VS Code</a>.
      </p>
      <p>
        Up top are a couple links to my online profiles,
        and in the card below is a portfolio of projects I've done,
        which contains things I've created for myself or other clients.
      </p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <div class='md-title'>Project Portfolio</div>
    </md-card-header>

    <md-card-content style='box-sizing: content-box'>
      <md-tabs md-right>
        <md-tab id='featured' md-label='featured'>
          <md-layout md-gutter id='projects-layout' md-align='center'>
            <router-link v-for='project of featuredProjects' :key='project.name' :title='project.name' :to='"/projects/" + project.name'>
              <md-image :md-src='getImageSrc(project.name)' :alt='project.name'></md-image>
            </router-link>
          </md-layout>
        </md-tab>

        <md-tab id='everything' md-label='everything'>
          <md-layout md-gutter id='projects-layout' md-align='center'>
            <a v-for='project of projects' :title='project.name' :href='"/projects/" + project.name'>
              <md-image :md-src='getImageSrc(project.name)' :alt='project.name'></md-image>
            </a>
          </md-layout>
        </md-tab>
      </md-tabs>
    </md-card-content>
  </md-card>
</div>
