.shadow {
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.no-interp {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  image-rendering: pixelated; /* Chrome */
}

.md-whiteframe {
  background-color: white;
  padding: 1rem;
  border-radius: 2px;
}

.my-icon-button {
  border-radius: 40px;
  min-width: 0;
  padding: 0;
}

a.md-title,
a.md-title:hover {
  color: inherit !important;
  text-decoration: none !important;
}

div.md-avatar.my-center {
  display: flex;
  align-items: center;
  justify-content: center;
  > div.so {
    height: 30px;
    width: 25px;
    margin: 0;

    display: inline-block;
    text-indent: -9999em;
    background-image: url("https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg");
    background-position: 0 -500px;
  }
}

/*
 * Background
 */

div#bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #33bbff;
  background: linear-gradient(180deg, #66ccff, #33bbff);
  overflow: hidden;
}

div.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

div.bg-foreground {
  background-image: url('/assets/gfx/pixalart_ultrawide_foreground.png');
}

div.bg-mountains {
  background-position-y: 90%;
  background-image: url('/assets/gfx/pixalart_ultrawide_mountains.png');
}

div.bg-inner-mountains {
  top: 90%;
  background-color: #457306;
}

div.bg-clouds {
  width: 200%;
  top: 50%;
  height: 50%;
  background-size: 50%;
  background-repeat: repeat-x;
  background-position-y: 0;
  background-image: url('/assets/gfx/pixalart_ultrawide_clouds.png');
  animation-duration: 240s;
  animation-name: wind;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wind {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}
